* {
    box-sizing: border-box;
}
.h1{
    text-decoration-color: #fff;
   
}

body {
    font-family: 'Lato', sans-serif;
    
    background: linear-gradient(rgba(42, 138, 78, 0.719), rgba(20, 20, 20, 0.842)),
        url("./lloyd-dirks-4SLz_RCk6kQ-unsplash.jpg") bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 181, 102, 0.719);
    

}

div ul {
  list-style: none;
  display: flex; 
  

}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: right;
 
}


li a:hover {
  background-color: #111;
}

.location {
  margin: 30px 10px;
}

.location select {
  background-color: #fff;
  font-family: 'Lato',
      sans-serif;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  margin-left: 10px;
  padding: 8px 15px 8px 15px;
 
}
.date {
  margin: 30px 10px;
}




.movie-container {
  margin: 30px 10px;
}

.movie-container select {
  background-color: #fff;
  font-family: 'Lato',
      sans-serif;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  margin-left: 10px;
  padding: 8px 15px 8px 15px;
  
}


.show-time{
    margin: 30px 10px;
  }
  
  .show-time select {
    background-color: #fff;
    font-family: 'Lato',
        sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 10px;
    padding: 8px 15px 8px 15px;
   
  }

  
.seat-type {
    margin: 30px 10px;
  }
  
  .seat-type select {
    background-color: #fff;
    font-family: 'Lato',
        sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 10px;
    padding: 8px 15px 8px 15px;
    
  }
  .quantity {
    margin: 30px 10px;
  }
  
  .quantity select {
    background-color: #fff;
    font-family: 'Lato',
        sans-serif;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    margin-left: 10px;
    padding: 8px 15px 8px 15px;
    
  }
.total {
    font-size: 24px;
    padding: 0 8px;
}

.text-wrapper {
    margin-top: 10px;

    }
    #btn{
    font-size: 25px;
    font-style: normal;
    background-color: #05361f;
    text-align: center;
    color: #fff;
    }
  

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    height: 30px;
    width: 35px;
    background: #063b1e;
    border: 2px solid #314c81;
    transition: all .2s ease;
}

.seat.selected {
    background-color: #6feaf6;
    background-color: #25b68d;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
  
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
}



.subtitle {
    position: relative;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    color: #31d7a9;
    font-size: 16px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle:before,
.subtitle:after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background: #213a69;
}

.subtitle:before {
    width: 80%;
    top: 0;
}

.subtitle:after {
    width: 100%;
    bottom: 0;
}

.text {
    font-size: 18px;
}


@media (max-width: 576px) {

    body {
        padding-top: 30px;
    }

    .movie-container select {
        font-size: 14px;
    }

    .seat {
        height: 21px;
        width: 23px;
    }

    .movie-screen img {
        max-width: 92%;
    }

    .subtitle {
        font-size: 13px;
        padding: 7px;
    }

    .seat:nth-of-type(2) {
        margin-right: 12px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 12px;
    }

    .movie-screen {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 14px;
    }

    .footer {
      background-color: #000000;
      color: #fff;
      padding: 10px 500px;
      text-align: center;
      font-size: 14px;
    }
    
    
}