* {
    box-sizing: border-box;
}
.h1{
    text-decoration-color: #fff;
   
}
body {
    font-family: 'Lato', sans-serif;
    
    background: linear-gradient(rgba(42, 138, 78, 0.719), rgba(20, 20, 20, 0.842)),
        url("./lloyd-dirks-4SLz_RCk6kQ-unsplash.jpg") bottom;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: rgba(56, 181, 102, 0.719);
    
}
.movie-name {
    font-weight: 700;
    text-decoration: underline;
    }
    
    .movie-price,
    .cart_item_price {
    font-style: oblique;
    font-family: cursive;
    }
     
    .card {
        border: 1px dashed grey;
        
        
        }
        
        .btn:disabled {
        opacity: 0.5;
        }
        
        h4 {
        font-family: cursive;
        }
        
        .cart_item_name {
        font-weight: 700;
        }
        
