.detailsBody {
    background-color: black;
}

.detailsContainer {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    background: transparent;
    border: solid;
    border-width: 2px;
    border-color: rgb(254, 94, 94);
    background-color: rgb(192, 188, 188);
    border-radius: 1px;
    padding: 0px;
    max-width: 80%;
    font-family: sans-serif;
}

.detailsTable {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.about {
    text-align: left;
    width: 90%;
    display: inline-block;
    margin-left: 100px;
    font-family: sans-serif;
    color: black;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
.detailsTd {
    background-color: #56858d;
    max-width: 839px;
    width: 639px;
    color: black;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: top;
}

.detailsTd1 {
    background-color: #56858d;
    color: black;
    font-weight: bold;
    padding-left: 35px;
    padding-right: 35px;
    vertical-align: top;
}

.moviename {
    background-color: rgb(122, 153, 151);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 35px;
    padding-right: 35px;
    vertical-align: top;
}

.moviename .btn{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999
}

.moviename .btn:hover {background-color: #f2ff62}

.moviename .btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.moviename .detailsSpan {
    font-weight: bold;
}